---
---
*{
    margin: 0px;
    padding: 0px;
}

body {
    // font-family:Arial, Helvetica, sans-serif
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newhover{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 14px 20px 12px 20px;
}

.newhover:hover {
    background-color: rgb(57, 57, 57);
    border-radius: 8px;
    color:coral;
}

.currhover {
    color:black;
}
.currhover:hover {
    color:black;
    background-color: white;
    border-radius: 10px;
}

.current {
    background-color:white;
    margin-bottom:0px;
    // border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-radius: 10px;
}

.newnav {
    display: flex;
    background-color: black;
}

.navlist {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.navlist li {
    list-style: none;
    padding: 12px 0px 10px 0px;
}

// .rightnav {
//     width: 50%;
//     text-align: right;
//     padding: 10px 12px 2px 0px;
// }

#search {
    border: 2px solid white;
    border-radius: 7px;
    // padding-left: 12px;
    padding: 2px 8px 2px 12px;
}

.sbtn {
    border: 1px solid #0d6efd;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    margin-left: 6px;
    padding: 4px 10px;
}

.sbtn:hover {
    background-color: #0d6efd;
}

.resabout {
    margin: 10px 80px;
    padding: 10px 80px;
}

.resblog {
    margin: 10px 80px;
    padding: 10px 80px;
}

.searchbar {
    margin: 60px;
    font-size: larger;
    text-align: center;
}

.sbar {
    width: 600px;
    height: 45px;
    padding: 10px;
    border-radius: 12px;
}

.reslist {
    list-style: none;
    margin: 20px;
}

.reslist li {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 40px 20px 40px;
}

ul {
    padding: 0px;
    margin: 0px;
}
.acard {
    padding-left: 3rem;
    padding-right: 3rem;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: rgb(44, 44, 44);
    color: white;
    width: 100%;
    height: 60px;
    padding: 16px 0px 0px 80px;
}

@media only screen and (max-width: 670px) {
    .newnav {
        width: 100vw;
        flex-direction: column;
    }
    .navlist {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    // .rightnav {
    //     width: 100%;
    //     text-align: center;
    // }
    .resabout {
        margin: 10px 30px;
        padding: 10px 30px;
    }
    .resblog {
        margin: 10px 30px;
        padding: 10px 0px;
    }
    .sbar {
        margin-top: 20px;
        width: 60%;
        height: 45px;
        padding: 10px;
        border-radius: 12px;
    }
    .searchbar {
        margin: 0px;
    }
    .acard {
        padding-left: 0px;
        padding-right: 0px;
    }
    footer {
        padding: 16px 0px 0px 10px;
    }
}