---
---
*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newhover{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 14px 20px 18px 20px;
}

.newhover:hover {
    background-color: rgb(57, 57, 57);
    color:coral;
}


.newnav {
    display: flex;
    background-color: black;
}

.navlist {
    width: 50%;
    display: flex;
    align-items: center;
}

.navlist li {
    list-style: none;
    padding: 12px 0px 2px 0px;
}

.rightnav {
    width: 50%;
    text-align: right;
    padding: 10px 12px 2px 0px;
}

#search {
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 12px;
}

.sbtn {
    border: 2px solid #0d6efd;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    margin-left: 6px;
    padding: 4px 10px;
}

.sbtn:hover {
    background-color: #0d6efd;
}

@media only screen and (max-width: 630px) {
    .newnav {
        width: 100%;
        flex-direction: column;
    }
    .navlist {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .rightnav {
        width: 100%;
        text-align: center;
    }
}